# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env/
venv/
ENV/
.venv/

# Logs
*.log
*.out

# Cache and temporary files
.cache/
*.tmp
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (если используешь)
.ipynb_checkpoints/
